.course {
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 70%;
    width: 18vw;
    background-color:  #043230a2;
    margin-bottom: 20px;
  }
  
  .course>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    border-radius: 15px;
    background-color: #043230a2;
  }
  
  .course>div>div {
    height: 60%;
    width: 100%;
    border-radius: 15px;
    background-color:rgba(255, 255, 255, 0.438);
  }
  
  .course div img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .course p {
    font-size: 2rm;
    font-weight: bold;
    color: #c0fff6;
  }