.home-container {
  background-image: url('../images/quiz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  }
  .home-content{
   
    background-color: #ffffff;
    border: #105c44 solid 1px;
    border-radius: 3%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 540px;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .difficulty-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
  }
  .difficulty-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .difficulty-button easy{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .difficulty-button:hover {
    background-color: #25ebb0;
    color: rgb(9, 64, 48);
  }
  .selected {
    background-color: #25eb92;
    color: rgb(13, 79, 66);
  }
  .start-button {
    padding: 12px 24px;
    background-color: #14513f;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 100px;
  }
  .start-button:hover {
    background-color: #105c44;
  }

  
  .quiz-container {
    background-image: url('../images/quiz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  }
  .quiz-question {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .quiz-options {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .quiz-option {
    padding: 10px 20px;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #105c44;
  }
  .quiz-option:hover {
    background-color: #052e2d;
    color: white;
  }
  .quiz-timer {
    margin-top: 20px;
    font-weight: bold;
    color: #2563eb;
  }

  .results-container {
    background-image: url('../images/quiz.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 100%;
  }

  .resultscont{
    margin-top: 20px;
    background-color: #ffffff;
    border: #105c44 solid 1px;
    border-radius: 3%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 840px;
    display: flex;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
  }
  .play-again-button {
    padding: 12px 24px;
    background-color: #4ade80;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .play-again-button:hover {
    background-color: #22c55e;
  }

  